body {
    background-image: url('https://drive.google.com/uc?export=view&id=1dUD86m2BFFDtJp6htqTr4jqpLi9OnubS');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
    text-align: center;
}

button {
    cursor: pointer;
    size: 200px;
}
