body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
    text-align: center;
}

button {
    cursor: pointer;
    size: 200px;
}

img {
    align-self: flex-start;
    max-width: 100%;
    max-height: 100%;
}
