@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
    margin: 0;
}

main {
    margin: 0;
}

h1 {
    grid-area: hd;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.2rem;
}

li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}

.artist-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -70%);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: black;
    text-align: center;
}

nav a {
    display: inline;
    padding: 8px;
}
