@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
    margin: 0;
}

.ArtistsButton {
    size: 100px;
}

h1 {
    grid-area: hd;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.2rem;
}

li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}

.artist-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 10%;
}

.artist-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 10%;
    left: -5%;
}

.Imgs {
    justify-content: center;
    box-shadow: 5px 5px 15px -4px whitesmoke;
    border-radius: 20px;
    margin-bottom: 5vh;
}

.profile {
    align-self: center;
    max-width: 15%;
    border-radius: 80px;
}

.slideshow {
    text-align: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: black;
    text-align: center;
}

nav a {
    color: whitesmoke;
    display: inline;
    padding: 8px;
    font-family: 'Pacifico', cursive;
}

#feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}
